<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <link rel="stylesheet" href="/static/Main/Main.css">
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/static/Main/Main.js"></script>
</head>
<body>
    <div id="back">
        <div id="log" onclick="window.location='/main/main/';"></div>
        <div id="options">
            <div id="start" onclick="window.location='/main/start/';"><text class="text">开始</text></div>
            <div id="setting" onclick="window.location='/main/setting/';"><text class="text">设置</text></div>
            <div id="count" onclick="window.location='/main/count/';"><text class="text">统计</text></div>
            <div id="part" onclick="window.location='/main/part/';"><text class="text">部首</text></div>
            <div id="familiar" onclick="window.location='/main/familiar/';"><text class="text">熟词</text></div>
            <div id="help" onclick="window.location='/main/help/';"><text class="text">帮助</text></div>
        </div>
    </div>
</body>
</html>
















