<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册登陆</title>
    <link rel="stylesheet" href="/static/main/main.css">
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/static/main/main.js"></script>

</head>
<body>
    <div id="choice">
        <div id="log" onclick="window.location='/main/main/';"></div>
        <div id="register"><a href="/main/register">注 册</a></div>
        <div id="login"><a href="/main/login">登 陆</a></div>
    </div>

</body>
</html>



