#choice
{
    border: #50ff5d solid 1px;
    width: 980px;
    height: 0;
    background-image: url("/static/reg_or_login.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    left:0;
    position: absolute;
}
#register
{
    border: #b1acff solid 1px;
    width: 30%;
    height: 7%;
    left:15%;
    top: 70%;
    position: absolute;
    border-radius: 10%;
    background:rgba(200, 200, 255, 0.3);
    font-size: 1px;
    text-align: center;
    text-decoration:none;
}
#login
{
    border: #b1acff solid 1px;
    width: 30%;
    height: 7%;
    right: 15%;
    top: 70%;
    position: absolute;
    border-radius: 10%;
    background:rgba(200, 200, 255, 0.3);
    font-size: 1px;
    text-align: center;
}

a
{
    text-decoration: none;
    color: black;
}

#log
{
    /*border: red solid 1px;*/
    width: 80%;
    height: 10%;
    left: 10%;
    top:3%;
    position: absolute;
    background-image: url("/static/log.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
}





















