<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>创建校长教程</title>
</head>
<body>
    ----------------------------------------------------------------------------------------------<br>
    第一步,创建一个用户&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    <a href="{{ create_user }}">点击创建用户</a><br><br>
    ----------------------------------------------------------------------------------------------<br>
    第二步,把这个用户绑定到校长角色&nbsp&nbsp&nbsp&nbsp
    <a href="{{ bind_role }}">点击绑定角色</a><br><br>
    如果用户很多,可以在url输入查询条件筛选用户api/Questionnaire_UsersRoles/?查询=小明 <br><br>
    ----------------------------------------------------------------------------------------------<br>
    第三步,把这个用户绑定到学校&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    <a href="{{bind_school}}">点击绑定学校</a><br><br>
    同样支持上述查询方法<br>
    ----------------------------------------------------------------------------------------------<br>
</body>
</html>






